<h1>Stupid Coaching</h1>
<ul>
  <li class="question"><p><%= @question %></p><p class="qafrom">- You</p></li>
  <li class="answer"><p><%= @answer %></p><p class="qafrom">- Your coach</p></li>
</ul>

<a href="/ask">Ask a new question</a>
